{{!--
<h2>Welcome, {{name}}!</h2>
<h2>Welcome, {{comment.id}}!</h2>
</div>
</div>

{{#if projects.length}}
<div class="project-list">
  <h3>Current Wines:</h3>
  {{#each projects as |project|}}
  <div class="card" style="width:400px">
    <img class="card-img-top" src="{{image}}" alt="Card image cap" width="150" height="200">
    <div class="card-body">
      <h5 class="card-title">{{project.name}}</h5>
      {{project.description}}
    </div>
    <div class="card-footer">
      <p class="card-text">Created on {{format_date project.date_created}}</p>
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </div>
  </div>
</div>
{{/each}}
</div>
{{/if}} --}}

{{!-- <script src="./js/profile.js"></script> --}}

{{#if projects.length}}

<div class="container container-fluid mt-5">
  <div class="flex-column mt-2">
    <div class="card-columns">
      {{#each projects as |project|}}
      <div class="card" style="width:400px">
        <img class="ml-5" src="{{image}}" alt="Card image cap" width="150" height="200" />
        <div class="card-body">
          <h5 class="card-title">{{project.name}}</h5>
          {{project.description}}
        </div>
        <div class="card-footer">
          <p class="card-text">Created on {{format_date project.date_created}}</p>
          <a href="/project/{{project.id}}">{{project.name}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}} 

<script src="./js/profile.js"></script>